.heading {
    display: none;
}

.intro {
    display: none;
}

.divider {
    display: none;
}

.presentation {
}

.factorlabs-portal-page-background {
    font-family: sans-serif;
    background-color: #FFBB05;
    color: #575757;
}

.factorlabs-portal-yellow {
    color: #FFBB05;
}

#wrap {
    margin: 0 auto;
    width: 800px;
}

.next-color {
    color: #86AADF;
}

.first-color {
    color: #FBBD59;
}

.factorlabs-green {
    color: #8BD3AB;

    a:visited {
        color: #8BD3AB;
    }

    a {
        color: #8BD3AB;
    }
}

.factorlabs-blue {
    color: #86AADF;
}

.factorlabs-yellow {
    color: #FBBD59;
}

.factorlabs-pink {
    color: #F68B9B;
}

.factorlabs-corporation-page-background {
    color: #315168;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.factorlabs-product-page-background {
    color: #86AADF;
    background-color: #315168;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.ingredient-issue-view {
    color: #86AADF;
    background-color: #315168;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    padding: 35px;
}

.selfAssertedClaims {
    font-size: 25px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background-color: #86AADF;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    margin: 5px;
    font-size: 24px;
}

.table-title {
    font-size: 28px;
    font-weight: bold;
}

.factorlabs-portal-button {
    background-color: #ffffff;
    border: none;
    color: #575757;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.label-claim {
    font-size: 16px;
    font-weight: bold;
    color: #575757;
    margin: 6px 6px 6px 6px;
}

.input-claim {
    font-size: 14px;
    color: #575757;
    margin: 6px 6px 6px 6px;
    padding: 0.25em 0.5em;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}

.demo-product-title {
    font-size: 45px;
}

.demo-product-body {
    font-size: 24px;
}

/*
    .B2C
 */
.intro {
    display: none;
}

.issue-factorlabs-verified-employee {

}

.issue-glassfactor-verified-employee {

}

.issue-factorlabs-card {
    display: none;
}

.product-generate-view {
    background: #30526A;
    padding: 35px;
}